In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Drug safety and pharmacovigilance.csv')

In [9]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000